@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);


body{
	background:#DBD6DC;
	font-family: 'Ubuntu Mono', sans-serif;

	color:black;
    font-weight: 300;
    font-size: 0.9em;
}
h1,h2{
	margin:0;	
}

/*--logo--*/
.logo {
	float:left;  
}
.logo h1{
	font-size: 2.5em;
	font-family: 'Open Sans', sans-serif;
}
.logo h1 a{
	text-decoration: none;
	color:black;
	font-weight: bold;
}
.logo h1 a span{
	text-decoration: none;
	color:#BD5532;
}

.header-top {
	background:#DBD6DC;
	  padding: 2em 0 ;
	    border-bottom: 1px solid #BD5532;
}
/*--//content--*/
footer {
  text-align: center;

	  padding: 2em 0 ;
	    border-top: 1px solid #BD5532;
}
footer img {
  width: 70px;
  height: auto;
}
/*--games--*/
.games {
  padding: 3em 0 4em;
}
.games h2 {
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
}
/*--//games--*/

iframe {
	width: 100%;
	height: 100%;
}

/*--responsive--*/
@media(max-width:768px){

/*--games--*/
.games {
  padding: 1.5em 0;
}
.games h2 {
  font-size: 1.8em;
}
}